/* Basic Reset */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; /* Get's it to a root font size of 10px - down from 16px. We now know that 1rem equals exactly 10px.... makes it much easy to calculate */
}

body {
    box-sizing: border-box;
}